<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <link rel="https://cdn.jsdelivr.net/foundation/5.3.3/css/foundation.min.css" ></link>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
